
body{
    font-family: Montserrat, sans-serif;
    margin: 0;
    width: 100%;
}

.layout{
margin: 0;
}

.header{
display: flex;
padding-left: 16px;
padding-right: 16px;
justify-content: space-between;
height: 56px;
}

.logo{
    width: 48px;
    height: 100%;
}
.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    white-space: nowrap; /*не переносит текст вниз */
     }
    
    
    .header__menu1{
        display: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 15.96px;
        text-align: center;
        white-space: nowrap;
    }
    .header__menu1_button{
        display: flex;  
    }
    #header__menu1_button{
        width: 230px;
        height: 48px;
        background-color: #E3F5F5;
        border-radius: 4px;
        border: 1px solid #E3F5F5;
        color: #03B2A5;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.5px;
        text-align: center;
    } 
    .logo{
        width: 48px;
        height: 100%;
    }
   
    .header__icon1{
        text-align:center;
    }
.burger_menu{
    width: 40px;
    height: 100%;
}

.header_line{
    height: 1px;
    border-top-style: solid;
    border-color: #EFF5FB;
}


main{
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;    
}
.main__start{
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    color: #333333B2;
    margin-top: 16px;
    line-height: 32px;
    align-items: center;
    white-space: nowrap; /*не переносит текст вниз */
  
}
.main__start_arrow{
    width: 16px;
    height: 16px;
}
.main__h1{
    display: flex;
    margin-top: 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}
.main__author{
    display: flex;
    margin-top: 8px;
    gap: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #494949;
}
.main__self{
    color: #2963A3;
}

.main__image_water{
    margin-top: 26px;
}

.main__h1_text{
display: flex;
flex-direction: column;
margin-top: 16px;
gap: 8px;
}
.main__h1_content{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}
.main__h1_list, .main__h1_list{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
}
.main__h1_list, .main__h1_list_p{
    list-style-type: none;
}
.main__h1_list::before{
    content: "\2022";
    color: #03B2A5;
    margin-right: 10px;
    text-decoration: none;
}
.main__h1_text_for_window{
    display: none;
}
.main__h2_text{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    }
.main__header{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    }
    
.main__h2_content, .main__h2_content_1, .main__h2_content_2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.main__quote{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    background-color: #F3F7FE;
    border-radius: 16px;
    gap: 8px;
    padding: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
}
.main__quote_author{
    font-weight: 700;
    font-style: normal;
}

.main__img_quote{
display: flex;
justify-content: flex-start;
align-items: flex-start;
}
.img_quote{
    position: absolute;
}
.main__whattodo{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}
.main__header_list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 8px;
}
.main__whattodo_list{
list-style-type: none;
font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    padding-left: 32px;
}
.main__whattodo_list::before{
    content: "\2022";
    color: #03B2A5;
}

.main__people{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
    letter-spacing: 0.25px;
    color: #868686;
}
.main__all_article{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main__all_article1{
    display: flex;
    flex-direction: column; 
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    text-align: center;
}
.img_circle{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
.main__all_article3{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #FEFAEC;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    

}
.main__all_article3_1{
    display: flex;
    flex-direction: column;
    margin: 16px;
    gap: 8px;
}
.main__point{
    vertical-align: middle; /*ставит точку посередине*/
}
.main__img_storm{
    display: flex;
    justify-content: center;
}
.main__all_article4{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #03B2A51A;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.main__all_article5{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: #E6F0FD;
}
.main__all_article5_1{
    display: flex;
    flex-direction: column;
    margin: 24px;
    justify-content: center;
}


.main__all_article5_2{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    align-items: center;
}

.main__img_download{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 8px;  
}

.main__button{
    display: flex;
    justify-content: center;
    margin-top: 24px;
   }

   .main__button_more{
    width: 182px;
    height: 48px;
    background-color: #35B3A9;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border-radius: 4px;
    border:1px solid #35B3A9;
   }

    /* для картинок нужно задавать больше свойств, т.к. они строчные. Лучше обязательно указывать высоту */
    .img_water, .img_people, .img_glasses, .img_hands, .img_chair, .img_woman{
        width: 100%;
        height: 288px;
        object-fit: cover; /*картинка должна заполнить весь div, если св-во contain, то картинка не будет менять размер*/
        object-position: center; /*если картинка больше, чем div, то по этому свойству покажет центр картинки*/ 
       }


    .img_group{
        width: 100%;
        text-align: center;
    }
.main__img_all_article_6_1_photo{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start; /*делает кнопку по ширине текста*/
    white-space: nowrap; /*Запрещает перенос текста внутри кнопок*/
    position: absolute;
    width: fit-content;
    gap: 8px;
    padding-left: 16px;
}
.main__img_all_article{
    background-color: #F3F4F8B2;
    border-radius: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing:0.25px;
    text-align: center;
}

.main__img_all_article_photo{
    position: relative;
    text-align: center;
}
.main__all_article6, .main__all_article8{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #DEDEDE;
}
.main__all_article6{
    padding-bottom: 36px;
    padding-top: 24px;
}

.main__all_article6_2{
    display: flex;
    flex-direction: column; 
    padding-top: 16px; 
    padding-bottom: 16px;
}

.main__all_article6_2_name{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.main__all_article6_2_job, .main__all_article_header{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.main__all_article6_2_yourself{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #A2A7B1;
}
.main__all_article6_line{
    height: 0.5px;
    border-top-style: solid;
    border-color: #DEDEDE;
}
.main__all_article_header2{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.main__all_article6_4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 16px;

}
.main__all_article_list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__all_article_list_1{
    list-style-type: none;
}
.main__all_article_list_1::before{
    content: "\2022";
    color: #03B2A5;
    margin-right: 10px; /* определяет расстояние между точкой и текстом*/
 

}
.main__all_article7{
    display: flex;
    background-color: #2963A3;
    border-radius: 16px;
    height: 292px;
    background-image: url(./картинки/Group_gift.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.main__all_article7_image{
    width: 100%;
    object-fit: cover; /*картинка должна заполнить весь div, если св-во contain, то картинка не будет менять размер*/
    object-position: center; /*если картинка больше, чем div, то по этому свойству покажет центр картинки*/
}

   .footer__more_3{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    letter-spacing: 0.25px;
    opacity: 70%;
   }
   .footer__icon_1{
    display: flex;
    margin: 5px 16px 0px 16px;
    align-items: center;
   }
   .footer__icon_2{
    display: flex;
    margin: 20px 16px 20px 16px;
    gap: 16px;
    align-items: center;
   }

   .main__all_article5, .main__all_article6, .main__all_article7, .main__all_article8{
    margin-top: 24px;
   }



   .main__all_article8_text{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin: 16px;
}

.main__all_article8_header strong{ /*применила класс и тег, т.к. в строке у одной цифры шрифт больше*/
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2963A3; 
}

.main__all_article8_header{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: left; 
    color: #2963A3; 
}
.main__all_article8_paragraf{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left; 
    color: #011632; 
}
.main__all_article8_price{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: left; 
}
.main__all_article8 .main__button{ /*кнопки везде одинаковые, но конкретно эту кнопку необходимо разместить вначале, поэтому задаю родителя и потомка*/
    justify-content: start;
    padding-left: 16px;
    padding-bottom: 16px;
    margin-top: 0;
}
.main__all_article8{
    position: relative;
}

.main__all_article8_image{
position: absolute;
bottom: 0;
right: 0;
}

.main__all_article_link_1{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2963A3;
}

.main__question{
    display: none;
}
.footer{
    background-color: #2963A3;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 10px;
    margin-top: 60px;
   }
   .footer__content{
    display: flex;
    flex-direction: row;
    margin: 59px 16px 0px 16px;
    padding-top: 35px;
   }

   .footer__content_1, .footer__content_2{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 21px;
   }
   .footer__content_1_text{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
   }

   .footer__more{
    display: flex;
    flex-direction: column;
    margin: 23px 16px 0px 16px;
   }
   .footer__more_1{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
   }
input{
    display: block;
    border: 1px solid #9D9D9D33;
    border-radius: 4px;
    height: 48px;
    align-items: center;
    width: 100%;
}
.footer__more_icon{
    display:none; /*будет отображаться только при определенном разрешении, где display=block*/
    background-color: #16C8BB;
    width: 64px;
    height: 48px;
    border-radius: 4px;
    background-image: url(/картинки/icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
}
.footer__more_button{
    position: relative;
}

   .footer__line{
    height: 2px;
    border-top-style: solid;
    border-color: #9D9D9D;
   }
   .footer__info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 16px 37px 16px;
   }
   .footer__info_1{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 20px;
    opacity: 70%;
  }



  @media (min-width: 1024px) {
    .header__menu1{
        display:block; 
    }
    .header__burger_menu{
        display:none; 
    }
    }

    @media (min-width:414px){
        .footer__more_icon{
            display:block; 
        }
       #main__unicorn_border{
       border: 2px solid #16C8BB;
       }  
    }

    @media (min-width:768px) and (max-width:1024px){
        .main{
            display: grid;
            grid-template-columns: (repeat(2, 1fr));
        }

        .main__all_article_glasses_2, .main__img_hands_2{
            display: grid;
            grid-auto-flow: column;
            gap: 10px;
            }
        .img_glasses, .img_hands{
            height: 100%;
            width: 294px;
        }
        
        .main__img_chair_2{
            display: grid;
            grid-template-columns: (repeat(2, 1fr));
            grid-template-rows: (235px, 1fr);
            grid-template-areas:
            "main__img_chair main__img_woman"
            "main__h2_content_1 main__h2_content_2"; 
            gap: 16px;
        }
        .main__img_chair{
            grid-area: main__img_chair;
        }
        .main__img_woman{
            grid-area: main__img_woman;
        }
        .main__h2_content_1{
            grid-area: main__h2_content_1;
        }
        .main__h2_content_2{
            grid-area: main__h2_content_2;
        }
        .main__all_article5, .main__all_article6, .main__all_article7, .main__all_article8{
            display: grid;  
        }

        .main__all_article58{
            display: grid;
            grid-template-columns: repeat((2, 1fr));
            grid-template-rows: (206px 1fr);
            grid-template-areas:
            "main__all_article5 main__all_article6"
            "main__all_article7 main__all_article8"; 
            gap: 16px;
            width: 100%;
        }
        .main__all_article5{
            grid-area: main__all_article5;
        }
        .main__all_article6{
            grid-area: main__all_article6;
        }
        .main__all_article7{
            grid-area: main__all_article7;
        }
        .main__all_article8{
            grid-area: main__all_article8;
        }




        .footer{
            display: grid;
            grid-template-columns: 111px 106px 384px 1fr;
            grid-template-rows: (repeat(5, 1fr)); /*задаем кол-во и размеры рядов*/
            grid-template-areas:
            "footer__content footer__content footer__more footer__more"
            "footer__icon_1 footer__icon_1 footer__icon_1 footer__icon_1"
            "footer__icon_2 footer__icon_2 footer__icon_2 footer__icon_2"
            "footer__line footer__line footer__line footer__line"
            "footer__info footer__info footer__info footer__info"; 
            padding: 35px 20px 0px 20px;
            gap: 30px;
           }
           .footer__content {
            grid-area: footer__content; /*т.к. используем в template классы, и они пишутся с . задаем им названия*/
           }
            .footer__more {
                grid-area: footer__more;
            }
            .footer__icon_1 {
                grid-area: footer__icon_1;
            }
            .footer__icon2 {
                grid-area: footer__icon_2;  
            }
            .footer__line {
                grid-area: footer__line;  
            }
            .footer__info {
                grid-area: footer__info;  
            }
        
        
        .footer__content{
            display: grid;
            grid-auto-flow: row;
            grid-column: 1/3;
            grid-row: 1;
            margin: 0;
            gap: 30px;
           }
        
        .footer__more{
            display: grid;
            grid-auto-flow: row;
            grid-column: 3 / 5;
            grid-row: 1;  
            margin: 0;
        }
        .footer__icon_1{
            display: -ms-inline-grid; /*картинки становятся в ряд. помогает там, где 1 div или только картинки*/
            grid-column: span 4;
            grid-row: 2;  
        }
        .footer__icon_2{
            display: -ms-inline-grid;
            grid-column: span 4;
            grid-row: 3;  
        }
        .footer__line{
            display: -ms-inline-grid;
            grid-column: span 4;
            grid-row: 4;  
        }
        .footer__info{
            display: grid;
            grid-column: span 4;
            grid-row: 5;  
        }
        .footer__info_1{
        display: grid;
        grid-row: 1;  
        }
        .footer__content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%; /*задаем кол-во и размеры рядов*/
            grid-template-areas:
            "footer__content_1 footer__content_2"
           }
          
           .footer__content_1 {    /*т.к. используем в template классы, и они пишутся с . задаем им названия*/
                grid-area: footer__content_1;
            }
            .footer__content_2 {
                grid-area: footer__content_2;
            }
            .footer__content_1{
                display: grid;
                grid-column: 1;
                grid-row: 1; 
             }
             .footer__content_2{
                display: grid;
                grid-column: 2;
                grid-row: 1; 
             }
    
    }



    @media (min-width:1024px){
        
     
        .header__burger_menu{
            display:none; 
        }
        .main{
            display: grid;
            grid-template-columns: 1fr 222px;
            grid-template-areas:
            "main__forwindow main__all_article58"
        }
        .main__forwindow{
            display: grid;
            grid-area: main__forwindow;
        }

        .main__all_article_glasses_2, .main__img_hands_2{
            display: grid;
            grid-auto-flow: column;
            gap: 10px;
            }
        .img_glasses, .img_hands{
            height: 100%;
            width: 294px;
        }
        
        .main__img_chair_2{
            display: grid;
            grid-template-columns: (repeat(2, 1fr));
            grid-template-rows: (235px, 1fr);
            grid-template-areas:
            "main__img_chair main__img_woman"
            "main__h2_content_1 main__h2_content_2"; 
            gap: 16px;
        }
        .main__img_chair{
            grid-area: main__img_chair;
        }
        .main__img_woman{
            grid-area: main__img_woman;
        }
        .main__h2_content_1{
            grid-area: main__h2_content_1;
        }
        .main__h2_content_2{
            grid-area: main__h2_content_2;
        }
        .main__all_article5, .main__all_article6, .main__all_article7, .main__all_article8{
            display: grid;  
        }

        .main__all_article58{
            display: grid;
            grid-auto-flow: row;
            gap: 16px;
            margin-left: 24px;
            align-items: start; /* не растягиается, но промежутки между див большие*/
        align-self: start;/* подтянулись блоки кверху*/
            width: 222px;

        }
     

        .footer{
            display: grid;
            grid-template-columns: 127px 106px 450px 1fr;
            grid-template-rows: (repeat(5, 1fr)); /*задаем кол-во и размеры рядов*/
            grid-template-areas:
            "footer__content footer__content footer__more footer__icon_1"
            "footer__content footer__content footer__more footer__icon_2"
            "footer__content footer__content footer__more footer__icon_1"
            "footer__line footer__line footer__line footer__line"
            "footer__info footer__info footer__info footer__info"; 
            padding: 35px 120px 0px 120px;
            gap: 30px;
           }
           .footer__content {
            grid-area: footer__content; /*т.к. используем в template классы, и они пишутся с . задаем им названия*/
           }
            .footer__more {
                grid-area: footer__more;
            }
            .footer__icon_1 {
                grid-area: footer__icon_1;
            }
            .footer__icon2 {
                grid-area: footer__icon_2;  
            }
            .footer__line {
                grid-area: footer__line;  
            }
            .footer__info {
                grid-area: footer__info;  
            }
        
        .footer__content{
            display: grid;
            grid-auto-flow: row;
            grid-column: 1/3;
            grid-row: 1/4;
            margin: 0;
            gap: 30px;
           }
        
        .footer__more{
            display: grid;
            grid-auto-flow: row;
            grid-column: 3;
            grid-row: 1/4;  
            margin: 0;
        }
        .footer__icon_1{
            display: -ms-inline-grid; /*картинки становятся в ряд. помогает там, где 1 div или только картинки*/
            justify-content: center;
            grid-column: 4;
            grid-row: 1;  
        }
        .footer__icon_2{
            display: -ms-inline-grid;
            justify-content: center;
            grid-column: 4;
            grid-row: 2/4;  
        }
        .footer__line{
            display: -ms-inline-grid;
            grid-column: span 4;
            grid-row: 4;  
        }
        .footer__info{
            display: grid;
            grid-column: span 3;
            grid-row: 5;  
            align-items: center;
        }
        .footer__info_1{
        display: grid;
        grid-row: 1;  
        }
        
        .footer__content{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100%; /*задаем кол-во и размеры рядов*/
            grid-template-areas:
            "footer__content_1 footer__content_2"
           }
          
           .footer__content_1 {    /*т.к. используем в template классы, и они пишутся с . задаем им названия*/
                grid-area: footer__content_1;
            }
            .footer__content_2 {
                grid-area: footer__content_2;
            }
            .footer__content_1{
                display: grid;
                grid-column: 1;
                grid-row: 1; 
             }
             .footer__content_2{
                display: grid;
                grid-column: 2;
                grid-row: 1; 
             }
    }



    @media (min-width:1440px){
        .main__h1_text_for_window{
            display: block;
        }
   .main__h1_text{
    display: none;
   }
   .main__question{
    display: block;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
   }
   .main__question_header{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    padding-top: 72px;
    padding-bottom: 32px;
   }
   .main__question_text{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 32px;
   }

        }
    
        @media (min-width:1440px){
            * {
                box-sizing: border-box;
            }
            .main__all_article58{
                margin-left: 228px;
            }
            body{
                margin-left: 120px;
                margin-right: 120px;
            }
            .footer{
                margin-right: 0;
                margin-left: 0;
            }
        }